name: Build and Deploy FastAPI to Azure - resume-backend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install backend dependencies
      working-directory: backend
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Zip backend folder
      run: |
        zip -r backend.zip backend

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: resume-backend
        package: backend.zip
